<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, user-scalable=no" >
    <meta http-equiv="X-UA_Compatiable" content="ie=edge">
    <title>Document</title>

</head>
<Body>
<form action="/joinProc" method="post" name="joinForm">
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="Join"/>
</form>
</Body>
</html>

